################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/S7CommPlusDriver/Properties/PublishProfiles/Publish-To-C-Folder.pubxml
/src/S7CommPlusDriver/Properties/PublishProfiles/Publish-To-Collector.pubxml
